<section class="footer">
    <div class="container">

        <article class="footer__company">
            <p class="footer__company_title">COMPANY</p>
            <img src="assets/images/prj-logo-light.svg" alt="konstrukt" class="footer__company_logo">
            <p class="footer__company_text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat.
            </p>
        </article>

        <article class="footer__links">
            <span class="footer__links_title">
                LINKS
            </span>
            <div class="footer__links_li">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">PROJECTS</a></li>
                    <li><a href="#">CONTACT&nbspUS</a></li>
                </ul>
                <ul>

                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">TERMS</a></li>
                    <li><a href="#">CAREERS</a></li>

                </ul>
                <ul>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">PARTNERS</a></li>
                    <li><a href="#">NEWS</a></li>

                </ul>
            </div>
        </article>

        <article class="footer__contact">
            <div class="footer__contact_titel">
                CONTACT US
            </div>
            <div class="footer__contact_addres">
                <p>221 Baker Street</p>
                <p>Oriel City Kounty</p>
                <p>7000 KNW,</p> Kountry Name
            </div>
            <div class="footer__contact_number">
                +23 994 233 4022
            </div>
            <div class="footer__contact_mail">
                info@konstruct.com
            </div>
        </article>

        <article class="footer__socials">
           <a href="#"> <img src="assets/images/facebook_footer_logo.png" alt=""></a>
            <a href="#"><img src="assets/images/twiter_footer_logo.png" alt=""></a>
            <a href="#"><img src="assets/images/google_footer_logo.png" alt=""></a>
        </article>

    </div>
</section>

<footer>
    <div class="container">
        © 2017 Konstruct Inc. Designed by Jane Kathryn Teo
    </div>

</footer>